{
  "extends": ["standard"],
  "rules": {
    "space-before-function-paren": "off",
    "standard/computed-property-even-spacing": "off",
    "no-unexpected-multiline": "off",
    "indent": "off",
    "jsx-quotes": "off"
  },
  "globals": {
    "it": true,
    "expect": true
  }
}